<div id="<%= "#{dom_id(todo)}_item" %>" class="monrecord">
  <%= turbo_frame_tag dom_id(todo) do %>
    <%= link_to todo.title, edit_todo_path(todo) %>
    <%= button_to "Delete", todo_path(todo), method: :delete %>
  <% end %>
</div>
